<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obsidian - Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="../../img/favicon/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="wrapper">
        <div id="login">
            <div id="login__header">
                <div id="brand">
                    <i class="fa-solid fa-gem fa-2x"></i>
                </div>
            </div>
            <div id="App__name">
                Obsidian os
            </div>
            <form action="/login" method="POST" autocomplete="off">
                <div class="form__group field">
                    <input type="text" class="form__field" name="username" placeholder="Username" />
                    <label class="form__label">Name</label>
                </div>
                <div class="form__group field">
                    <input type="password" class="form__field" name="password" placeholder="Password" />
                    <label class="form__label">Password</label>
                </div>
                <div>
                    <button type="submit" class="button">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>