:root {
    --icon-text-color: #F5F5F5;
    --icon-image-color: #5490cb;
    --icon-hover-bg-color: rgb(160, 156, 156);
    --details-bg-color: rgba(45,45,45, 1);
    --modal-header-bg: rgb(100, 99, 99);
}

.icon i {
    color: var(--icon-image-color);
}

.icon {
    color: var(--icon-text-color);
}

.modal {
    border-radius: 10px;
    background-color: var(--details-bg-color);
    z-index: 100;
}

.modal__header {
    background-color: var(--modal-header-bg);

    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    display: flex;
}

.modal__header__close__button,
.modal__header__minimize__button,
.modal__header__maximize__button {
    border-radius: 50%;
}

.modal__header__close__button {
    background-color: #C00
}

.modal__header__close__button:hover {
    background-color: rgb(220, 74, 74);
}

.modal__header__minimize__button {
    background-color: rgb(1, 108, 1);
}

.modal__header__minimize__button:hover {
    background-color: rgb(23, 137, 23);
}

.modal__header__maximize__button {
    background-color: rgb(186, 186, 51);
}

.modal__header__maximize__button:hover {
    background-color: rgb(247, 247, 99);
}

.loading__screen {
    background-color: var(--details-bg-color);

    color: var(--icon-image-color);
}

.loading__screen::after {
    content: '';

    width: 75px;
    height: 75px;

    position: absolute;

    border-bottom: 3px solid red;
    border-radius: 50%;
    animation: loading__screen__loader 1s linear infinite;
    animation-delay: 0;
}

@keyframes loading__screen__loader {
    from { rotate: 0; }
    to { rotate: 360deg; }
}

.workspace__header > input {
    background-color: rgb(88, 88, 88);
    color: white;
}

.workspace__header__actions > button {
    color: white;
}

.workspace__header__actions > button:active {
    color: var(--icon-image-color);
}

.text__editor__textarea {
    all: unset;
    color: white;
    width: calc(100% - 60px);
    height: calc(100% - 60px);

    padding: 30px;
}

.workspace__file__editor__fName {
    position: relative;
    left: 40%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(88, 88, 88);
    color: white;
    padding: 10px;
}

.workspace__file__editor__fileName {
    all: unset;
    color: white;
    background-color: rgb(88, 88, 88);
    background-color: transparent;
}

ul.context-menu {
    list-style-type: none;
    background-color: white;
    border-radius: 10px;

    width: fit-content;
    height: fit-content;

    padding: 0;
}

ul.context-menu > li[disabled="true"] {
    color: gray;
    cursor: not-allowed;
}

ul.context-menu > li[disabled="false"]:hover {
    cursor: pointer;
    color: var(--icon-image-color);
}

.alert__modal {
    background-color: rgb(85, 85, 85);
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    color: var(--icon-text-color);
}

.alert__modal__body {
    border-bottom: 1px black;
    padding: 10px;
}

input {
    all: unset;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
}

input:hover {
    border: 1px dashed black;
}

.btn {
    all: unset;
    border-radius: 10px;
    padding: 10px;
}

.btn:hover {
    cursor: pointer;
}

.btn__agree{
    background-color: rgb(1, 108, 1);
    transition: background .2s ease-in;
}

.btn__agree:hover {
    background-color: rgb(1, 76, 1);
}

.btn__disagree{
    background-color: rgb(220, 74, 74);
    transition: background .2s ease-in;
}

.btn__disagree:hover {
    background-color: rgb(152, 50, 50);
}

.btn__group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.input__wrong {
    border: 1px solid rgb(220, 74, 74);
}

.input__wrong:hover {
    border: 1px dashed rgb(220, 74, 74);
}